<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748297860136-clpac6skh2gbtnue89da9to0besf7fj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748297860136-clpac6skh2gbtnue89da9to0besf7fj4</string>
	<key>API_KEY</key>
	<string>AIzaSyCuziQAQiBnbhJlOeOsCHqyebPr82ewSVs</string>
	<key>GCM_SENDER_ID</key>
	<string>748297860136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smoothandesign.smoothGameApp</string>
	<key>PROJECT_ID</key>
	<string>smooth-games-app</string>
	<key>STORAGE_BUCKET</key>
	<string>smooth-games-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748297860136:ios:349e142991112056cbf11d</string>
</dict>
</plist>